:root{
    --main-bg-color:#fcfde6;
    --darker-bg-color:#0c3f03;
    --main-txt-color:#ececec;
    --body-txt-color:#000000;
    --accent-txt-color:#39b906;
    --hero-color: #4b4b4b;
}

body{
    margin:0;
    padding:0;
    font-family: 'Open Sans';
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

.topnav{
    background-color: var(--darker-bg-color);
    padding: 5px;
    overflow: hidden;

}
.app-name{
    color: var(--accent-txt-color);
}
  
.topnav a {
    float: left;
    color: var(--main-txt-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: var(--accent-txt-color);
    color: var(--darker-bg-color);;
}
  
.topnav a.active {
    background-color: var(--accent-txt-color);
    color: var(--main-txt-color);
}

.spacer{
    height: 5vh;
}

.hero{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 800px;
    min-height: 640px;
}

.garden-img{
    background-image:url("../images/rock-garden.jpg");
}
.watering-img{
    background-image:url("../images/watering.jpg");
}
.soil-img{
    background-image:url("../images/soil.jpg");
}

.monstera-img{
    background-image:url("../images/monstera.jpg");
}
.pots-img{
    background-image:url("../images/pots.jpg");
}
.advice-img{
    background-image:url("../images/advice.jpg");
}

.layer{
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgba(9, 44, 2, 0.486);
    
    display: flex;
    margin: auto;
    align-items:center;
    justify-content:center;
}

.header{
    display: relative;
    text-align: center;
}

.btn-interest{
    background-color: var( --darker-bg-color);
    border: none;
    border-radius: 5%;
    color: var( --main-txt-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;   
}

.left{
    margin-right:50%;
    margin-left:10%;
    text-align: left;
}

.right{
    margin-left:30%;
    text-align: left;
}

.details{
    margin-top: 5%;
    margin-left:10%;
    margin-right:10%;
    color: var(--main-txt-color);
}

.graphic{
    margin-top: 0%;
}
.wrapper{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 600px;
    min-height: 400px;
}

.wrapper h3{
    text-align: center;
}
.contents{
    margin-left: 10%;
    margin-right: 10%;
}

.contents p{
    margin-top: 10%;
}